<p>Hello! You're registered in following app: {{ project_url }}.</p>
<p>Please verify your registration via link: <a href="{{ verify_link|safe }}">{{ verify_link|safe }}</a>.</p>
<p>Your password: {{ password }}</p>
